/* mobile */
@media screen and (max-width: 767px) {
  /* header */
  header {
    height: 80px;
    position: inherit;
  }
  header .nav {
    display: none;
  }
  header .sns {
    display: none;
  }
  header .logo img {
    width: 145%;
  }
  .accordion-i {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 999;
  }
  .accordion-i #bar {
    color: white;
    display: block;
  }
  .accordion-i #x {
    display: none;
  }
  .swiper {
    height: 100%;
  }
  .group {
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.829);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 998;
  }
  .box .title {
    display: block;
  }
  .box .title a {
    display: block;
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.434);
    color: white;
  }
  .box .title a:hover {
    color: #f26b24;
  }
  .box .cont {
    padding: 10px 30px;
    background-color: rgba(187, 247, 198, 0.4156862745);
    border-bottom: 1px solid rgba(255, 255, 255, 0.434);
  }
  .box .cont a {
    color: black;
    font-size: large;
    font-weight: 700;
  }
  .box .cont a:hover {
    color: #f26b24;
  }
  /* sec1 */
  #sec1 {
    width: 100%;
    height: 100vh;
  }
  .sec1-text {
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: 1s;
  }
  .swiper .sec1-text p:nth-of-type(1) {
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 3px gray;
  }
  .swiper-slide .sec1-text p:nth-of-type(2) {
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px 3px gray;
  }
  .sec1-text button {
    width: 168px;
    height: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.781);
    margin-top: 50px;
    transition: 0.5s;
    font-size: 16px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 40px;
    left: 3%;
    width: 100%;
  }
  /* sec2 */
  #sec2 {
    width: 100%;
    height: max-content;
  }
  .sec2-wrapper {
    width: 100%;
  }
  #sec2 h2 {
    padding-top: 4rem;
    font-size: 30px;
  }
  .sec2-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .sec2-wrap ul {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 233px;
    justify-content: center;
  }
  .sec2-wrap ul li {
    width: 90%;
    height: 68%;
  }
  .sec2-wrap ul li .sec2-products {
    width: 100%;
    height: 100%;
  }
  .sec2-wrap ul li .sec2-products img {
    width: 100%;
    height: 100%;
  }
  .sec2-text {
    width: 100%;
    text-align: center;
  }
  .sec2-wrap ul .sec2-text p:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .sec2-wrap ul .sec2-text p:nth-of-type(2) {
    font-size: 11px;
    color: rgba(128, 128, 128, 0.644);
  }
  /* sec3 */
  #sec3 {
    width: 100%;
    height: max-content;
  }
  .sec3-wrap {
    width: 100%;
    /* grid-template-columns: 383px 383px;
    grid-template-rows: 260px;
    grid-gap: 0px; */
    display: flex;
    flex-direction: column;
  }
  .sec3-wrap .img2:hover .img-wrap2 img,
  .sec3-wrap .img3:hover .img-wrap3 img,
  .sec3-wrap .img4:hover .img-wrap4 img,
  .sec3-wrap .img5:hover .img-wrap5 img,
  .sec3-wrap .img6:hover .img-wrap6 img,
  .sec3-wrap .img7:hover .img-wrap7 img {
    transform: scale(1);
    opacity: 1;
  }
  .sec3-wrap .sec3-contents {
    width: 100%;
    height: 30%;
  }

  .sec3-wrap .img3 .sec3-text {
    text-align: start;
    top: 32%;
    left: 55%;
  }
  .sec3-wrap .img3 .sec3-text p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 600;
  }

  .sec3-text {
    font-size: 30px;
  }
  /* sec4 */
  #sec4 {
    background: url(../images/sec4-bg.jpg) no-repeat;
    background-position: 12% -140%;
    background-size: cover;
    position: relative;
  }
  #sec4 h2 {
    font-size: 30px;
    padding-top: 4rem;
  }
  .sec4-left {
    display: none;
  }
  .sec4-right {
    width: 21rem;
    position: absolute;
    top: 19%;
    left: 42%;
    transform: translate(-50px, -50px);
    text-align: center;
  }
  .sec4-wrap .sec4-right .sec4-right-1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 1px gray;
  }
  .sec4-wrap .sec4-right .sec4-right-2 {
    font-size: 1.2rem;
    color: white;
    text-shadow: 0 0 1px gray;
  }
  .sec4-right button {
    width: 200px;
    height: 50px;
    border: 3px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    color: white;
    text-shadow: 0 0 1px gray;
  }
  /* sec5 */
  #sec5 {
    width: 100%;
    height: 2000px;
  }
  #sec5 ul {
    width: 80%;
    height: 55%;
    flex-direction: column;
  }
  #sec5 ul li {
    width: 100%;
    border: none;
    text-align: center;
    padding: 60px 30px;
    border-bottom: 1px solid black;
  }
  #sec5 ul li:nth-of-type(3) {
    border-bottom: none;
  }
  .mySwiper swiper-slide {
    width: 40%;
  }
  .mySwiper swiper-slide .sec5-slideWrap p {
    font-size: 1.2rem;
    margin-left: 40px;
  }
  /* footer */
  footer {
    height: max-content;
  }
  footer .footer-container {
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
  #quick {
    display: none;
  }
  #bar-menu {
    position: fixed;
    display: block;
    width: 30%;
    height: 800px;
    background: rgba(128, 128, 128, 0.842);
    top: 0;
    right: 0;
  }
  #bar-menu-img {
    position: absolute;
    top: 4%;
    right: 107%;
    border: 1px solid black;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .accordion-i {
    display: none;
  }
} /*# sourceMappingURL=response.css.map */
