@charset "UTF-8";
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: max-content;
  overflow-x: hidden;
  background: #f7f0da;
}

@font-face {
  font-family: "SOGANGUNIVERSITYTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DNFForgedBlade";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* common */
.container {
  width: 100%;
  height: 935px;
}

.sec {
  width: 100%;
  height: 950px;
}

.underline:after {
  display: block;
  content: "";
  border-bottom: 1px solid #f26b24;
  padding-bottom: 3px;
  transform: scaleX(0);
  transition: 0.5s;
}

.underline:hover::after {
  transform: scaleX(1);
}

/* quick */
#quick {
  position: absolute;
  top: 23%;
  left: 93%;
  display: flex;
  z-index: 1;
  text-align: center;
}
#quick ul li {
  width: 100px;
}
#quick ul li img {
  width: 100%;
}

#bar-menu {
  display: none;
}

.subject_h2 {
  text-align: center;
  padding-top: 4rem;
  font-size: 50px;
  font-family: "SOGANGUNIVERSITYTTF";
}

/* header */
header {
  width: 100%;
  height: 140px;
  background: #0d4633;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  position: fixed;
  z-index: 20;
  transition: all 1s ease-in-out;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
header .nav {
  width: 39%;
  position: relative;
}
header .logo {
  width: 26%;
  height: auto;
}
header .logo img {
  width: 100%;
}
header .sns {
  width: 17%;
}
header .sns ul {
  width: 85%;
  padding-left: 16%;
}

header > .nav > ul,
header .sns ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

header > .nav > ul > li > a,
header .sns ul a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  font-weight: 700;
}

header .nav ul a:hover,
header .sns ul a:hover {
  color: #f26b24;
}

#product-sub {
  position: absolute;
  top: 130%;
  left: 39%;
  width: 155px;
  height: 146px;
  background: white;
  font-size: 12px;
  border: 1px solid rgba(128, 128, 128, 0.425);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}
#product-sub li a {
  color: black;
  font-size: 1.1rem;
}
#product-sub li a:hover {
  color: #f26b24;
  font-weight: 900;
  font-size: 1.2rem;
}

#product:hover #product-sub {
  opacity: 1;
  color: rgba(179, 69, 69, 0.8);
  transform: translateY(-15px);
}

.accordion-i #bar {
  display: none;
}

.accordion-i #x {
  display: none;
}

.g1 {
  display: none;
}

header {
  transition: top 2s ease-in, opacity 0.3s ease-in;
  opacity: 1;
}

.header-hidden {
  top: -140px;
  opacity: 0;
}

/* sec1 */
#sec1 {
  width: 100%;
  height: 120vh;
}

.swiper {
  width: 100%;
  height: 84%;
}

#sec1 ul {
  width: 200000px;
  display: flex;
}
#sec1 ul li {
  width: 1903px;
  height: 950px;
}

.swiper-slide .sec1-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-slide .sec1-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0.8);
}
.swiper-slide .sec1-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: 1s;
}
.swiper-slide .sec1-text p:nth-of-type(1) {
  font-size: 2.5rem;
  font-family: "SOGANGUNIVERSITYTTF";
  color: white;
  text-shadow: 1px 1px 3px gray;
}
.swiper-slide .sec1-text p:nth-of-type(2) {
  font-family: "SOGANGUNIVERSITYTTF";
  font-size: 8rem;
  color: white;
  text-shadow: 2px 2px 3px gray;
  filter: 5px 5px 10px black;
  filter: drop-shadow(5px 5px 11px black);
}
.swiper-slide .sec1-text button {
  width: 180px;
  height: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.781);
  margin-top: 50px;
  transition: 0.5s;
  font-size: 16px;
}
.swiper-slide .sec1-text button:hover {
  background: rgb(94, 94, 94);
  color: white;
}

.swiper-slide-active .sec1-text {
  opacity: 1;
  transition: 1s;
  top: 50%;
}

.swiper-slide-active .text-wrap {
  opacity: 1;
}

/* sec2 */
#sec2 {
  background: pink;
  width: 100%;
  height: max-content;
  background: url(./images/augustine-wong-li0iC0rjvvg-unsplash.jpg);
  background-position: 92% 95%;
}

.sec2-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 16rem;
}

.sec2-wrap {
  width: 1180px;
  margin: 0 auto;
  padding-top: 55px;
}

.sec2-wrap ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 360px;
  grid-gap: 20px;
}
.sec2-wrap ul .sec2-text {
  text-align: center;
}
.sec2-wrap ul .sec2-text p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
}
.sec2-wrap ul .sec2-text p:nth-of-type(2) {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.644);
  text-transform: uppercase;
}
.sec2-wrap ul .sec2-products {
  width: 280px;
  height: 280px;
  overflow: hidden;
}
.sec2-wrap ul .sec2-products img {
  width: 280px;
  height: 280px;
  transition: 0.5s;
  border: 6px double rgba(128, 128, 128, 0.2784313725);
}
.sec2-wrap ul .sec2-products img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* sec3 */
#sec3 {
  width: 100%;
  height: max-content;
  background: rgb(103, 150, 103);
  background: url(./images/augustine-wong-li0iC0rjvvg-unsplash.jpg);
  background-position: 92% 95%;
  font-family: "DNFForgedBlade";
}

.sec3-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 260px;
  width: 1300px;
  margin: 0 auto;
  height: 850px;
  padding-top: 60px;
  grid-gap: 20px;
  grid-template-areas: "b c c" "b d g" "e f g";
  margin-bottom: 22rem;
}
.sec3-wrap .img2 {
  grid-area: b;
  width: 420px;
  height: 540px;
  overflow: hidden;
}
.sec3-wrap .img3 {
  grid-area: c;
  width: 860px;
  height: 260px;
  overflow: hidden;
}
.sec3-wrap .img4 {
  grid-area: d;
  width: 420px;
  height: 260px;
  overflow: hidden;
}
.sec3-wrap .img5 {
  grid-area: e;
  width: 410px;
  height: 258px;
  overflow: hidden;
}
.sec3-wrap .img6 {
  grid-area: f;
  width: 410px;
  height: 258px;
  overflow: hidden;
}
.sec3-wrap .img7 {
  grid-area: g;
  width: 418px;
  height: 538px;
  overflow: hidden;
}

.sec3-wrap .sec3-contents {
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.192);
  cursor: pointer;
}
.sec3-wrap .sec3-contents .sec3-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 45px;
  text-align: center;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
}
.sec3-wrap .sec3-contents .img-wrap2,
.sec3-wrap .sec3-contents .img-wrap3,
.sec3-wrap .sec3-contents .img-wrap4,
.sec3-wrap .sec3-contents .img-wrap5,
.sec3-wrap .sec3-contents .img-wrap6,
.sec3-wrap .sec3-contents .img-wrap7 {
  width: 100%;
  height: 100%;
}

.sec3-wrap div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0.8);
}

.img-wrap2 img,
.img-wrap3 img,
.img-wrap4 img,
.img-wrap5 img,
.img-wrap6 img,
.img-wrap7 img {
  transition: 0.5s;
  -o-object-fit: cover;
  object-fit: cover;
}

.img2:hover .img-wrap2 img,
.img3:hover .img-wrap3 img,
.img4:hover .img-wrap4 img,
.img5:hover .img-wrap5 img,
.img6:hover .img-wrap6 img,
.img7:hover .img-wrap7 img {
  transform: scale(1.08);
  opacity: 0.2;
}

.img2:hover .sec3-text,
.img3:hover .sec3-text,
.img4:hover .sec3-text,
.img5:hover .sec3-text,
.img6:hover .sec3-text,
.img7:hover .sec3-text {
  color: rgba(0, 0, 0, 0.514);
}

/* sec4 */
#sec4 {
  width: 100%;
  height: 140%;
  background: url(../images/sec4-bg.jpg);
  background-size: 127%;
  background-position: 94% 58%;
  background-attachment: fixed;
  margin-bottom: 15rem;
}
#sec4 .sec4-wrap {
  margin: 10rem auto;
}
#sec4 h2 {
  color: white;
}

.sec4-wrap {
  width: 100%;
  margin: 0 auto;
  height: 700px;
  padding-top: 80px;
  position: relative;
}
.sec4-wrap .sec4-left img {
  width: 20rem;
  position: absolute;
  transition: 1.3s;
  filter: drop-shadow(2px 4px 27px white);
  opacity: 0;
}
.sec4-wrap .sec4-left img:nth-of-type(1) {
  top: 15%;
  transition: 1.5s;
  left: 450px;
}
.sec4-wrap .sec4-left img:nth-of-type(2) {
  top: 65%;
  transition: 1s;
  left: 550px;
}
.sec4-wrap .sec4-left img:nth-of-type(3) {
  top: 65%;
  transition: 3s;
  left: 250px;
}
.sec4-wrap .sec4-right {
  width: 600px;
  float: right;
  text-transform: uppercase;
  color: white;
}
.sec4-wrap .sec4-right .sec4-right-1 {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  font-size: 70px;
  font-weight: 700;
  padding: 50px 0;
  transform: translateX(400px);
  transition: 1.1s;
  opacity: 0;
}
.sec4-wrap .sec4-right .sec4-right-2 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 50px;
  transform: translateX(400px);
  transition: 2s;
  opacity: 0;
}

.sec4-right button {
  width: 180px;
  height: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.781);
  margin-top: 50px;
  transition: 2s;
  font-size: 16px;
  transform: translateX(400px);
  opacity: 0;
}
.sec4-right button:hover {
  background: rgb(94, 94, 94);
  color: white;
}

/* sec5 */
#sec5 {
  width: 100%;
  height: max-content;
  padding-top: 100px;
}

#insta-text {
  text-align: center;
  padding-bottom: 60px;
  font-size: 1.4rem;
  color: #808080;
}

#sec5 ul {
  display: flex;
  width: 65%;
  height: max-content;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 15rem;
}
#sec5 ul li {
  width: 70%;
  border-right: 1px solid black;
  text-align: center;
  padding: 80px 30px;
}
#sec5 ul li a p:nth-of-type(1) {
  font-size: 24px;
  font-weight: 600;
  color: #244534;
  padding: 20px 0;
}
#sec5 ul li a p:nth-of-type(2) {
  font-size: 16px;
  color: gray;
}
#sec5 ul li:nth-of-type(3) {
  border-right: none;
}
#sec5 ul li:nth-of-type(3) img {
  padding-top: 27px;
}
#sec5 ul img:hover {
  opacity: 0.5;
}
#sec5 ul .notice1 {
  opacity: 0;
  transition: 0.5s ease-out;
}
#sec5 ul .notice2 {
  opacity: 0;
  transition: 3s ease-out;
}
#sec5 ul .notice3 {
  opacity: 0;
  transition: 5s;
}

/* sec5 - 슬라이드 */
.mySwiper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mySwiper swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20%;
}
.mySwiper swiper-slide img {
  display: block;
  width: 100%;
  position: relative;
}
.mySwiper swiper-slide .sec5-slideWrap svg {
  position: absolute;
  top: 4%;
  right: 2%;
}
.mySwiper swiper-slide .sec5-slideWrap p {
  position: absolute;
  top: 13%;
  width: 70%;
  text-align: center;
  margin-left: 57px;
  font-size: 1.4rem;
  color: white;
  opacity: 0;
  transition: 0.3s;
}
.mySwiper swiper-slide .sec5-slideWrap i {
  content: "\f16d";
  font-size: 2.5rem;
  position: absolute;
  bottom: 5%;
  right: 7%;
  color: white;
  opacity: 0;
}

.mySwiper swiper-slide:hover .sec5-slideWrap img {
  filter: brightness(0.6);
}

.mySwiper swiper-slide:hover .sec5-slideWrap p {
  opacity: 1;
}

.mySwiper swiper-slide:hover .sec5-slideWrap i {
  opacity: 1;
}

/* footer */
footer {
  width: 100%;
  min-height: 396px;
  background: #2e2f2e;
  transition: none;
}
footer .footer-container {
  padding: 82px 100px;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  color: #f7f0da;
  margin-top: 15rem;
}

.footer1 {
  font-size: 13px;
  line-height: 20px;
}
.footer1 img {
  width: 40%;
  height: 25%;
}
.footer1 .footer1-text {
  padding-left: 2%;
}
.footer1 .footer1-text span {
  margin-right: 10px;
}

.footer2 h3,
.footer3 h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.footer2,
.footer3 {
  line-height: 30px;
}

.footer3 .footer-about-wrap {
  display: flex;
}
.footer3 .footer-about-wrap a {
  color: #f7f0da;
}
.footer3 .footer-about-wrap a:hover {
  color: #f26b24;
}
.footer3 .footer-about-wrap .footer-about-wrap-left {
  width: 50%;
} /*# sourceMappingURL=style.css.map */
